@model bat.logic.ViewModels.Lessons.View
@{
    ViewBag.Title = "Error";
}

@section head {
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
<h4>
    @ViewBag.Error
</h4>
