@model bat.logic.ViewModels.Lessons.View
@{
    var user = new bat.logic.Rules.Authentication(Request.GetOwinContext()).GetLoggedInUser();
    var accInfo = bat.logic.Helpers.UserAccountInfo.GetAccount(user.ID);
    ViewBag.Title = "New Zoom User Account";
}

@section head {
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
<h4>
    Please check your email account ( @Model.account.Email ) for your Zoom account invitation.
</h4>

<p style="margin-top: 40px;">
    When you have finished your Zoom account activation, join this lesson again.
</p>
<p style="margin-top: 40px;">
    <a href="@Url.Action("Index", new { id = Model.lesson.ID })" class="btn btn-primary">Join Lesson</a>

    &nbsp;

    @if (accInfo.IsTeacher)
    {
        <a href="@Url.Action("Edit", new { id = Model.lesson.ID })" class="btn btn-default">Edit lesson details</a>
    }
</p>