
<!DOCTYPE html>
<html>
<head>
    <title> Test Javascript API </title>
    <script type="text/javascript"
            src="http://d24cgw3uvb9a9h.cloudfront.net/static/13294/js/lib/jquery.js?44165">

    </script>
    <script type="text/javascript"
            src="http://d24cgw3uvb9a9h.cloudfront.net/static/13294/js/lib/jquery.cookie.js?44165">

    </script>
    <script type="text/javascript"
            src="http://d24cgw3uvb9a9h.cloudfront.net/static/37726/js/api/zoomus.js?44165"></script>

</head>
<body>
    <input type="button" id="btn_login" value="Javascript Login Zoom" />
    <br><br>
    <input type="button" id="btn_list" value="List Meetings" />
    <br>
    <h3 id="api_list"></h3>
    <ol id="meetingList"></ol>

    <br>
    Meeting Number:<input type="text" name="meeting_number" id="meeting_number"
                          maxlength="15" />
    <br><br>
    <input type="button" id="btn_get" value="Get Meeting" />
    <input type="button" id="btn_pmi" value="Get PMI" />
    <input type="button" id="btn_end" value="End Meeting" />
    <input type="button" id="btn_del" value="Delete Meeting" />

    <br><br>
    Meeting Info: <textarea id="meetingInfo" name="meeingInfo" cols="120" rows="10">
        {   "topic":"Test create meeting via javascript API",

        "password":"123",

        "type":2,

        "start_time":"2015-4-15T01:00:00Z",

        "duration":35,

        "timezone":"GMT+6:00",

        "option_jbh":true,

        "option_host_video":true,

        "option_participants_video":true,

        "option_audio_type":"both"}

    </textarea>
    <br><br>
    <input type="button" id="btn_create" value="Create Meeting" />
    <input type="button" id="btn_update" value="Update Meeting" />
    <br> <br>
    <h3 id="api_title"></h3>
    <p id="errMsg"></p>

    <!-- Link to local Zoom script  -->
    <script type="text/javascript" src="~/assets/js/zoom.js"></script>
</body>
</html>
