@model bat.logic.ViewModels.Lessons.View
@{
    ViewBag.Title = "Browser not supported";
}

@section head {
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
<h4>
    Sorry, this browser cannot support Buzz a Tutor. Please use minimum:
</h4>
<p>
    <ul>
        <li>
            Microsoft Edge 12
        </li>
        <li>
            Google Chrome 28
        </li>
        <li>
            Mozilla Firefox 22
        </li>
        <li>
            Opera 18
        </li>
        <li>
            Vivaldi 1.9
        </li>
    </ul>
</p>
