@model bat.logic.ViewModels.Lessons.View
@{
    ViewBag.Title = "New Zoom User Account";
}

@section head {
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
<h4>
    We are still waiting for the host ( @Model.host.Fname @Model.host.Lname ) to be signed on.
</h4>

<p style="margin-top: 40px;">
    Contact the host and, join this lesson again.
</p>
<p style="margin-top: 40px;">
    <a href="@Url.Action("Index", new { id = Model.lesson.ID })" class="btn btn-default">Join Lesson</a>
</p>