/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #555;
	color: #eee;
	font-size: 13px;
	font-weight: 400;
}

.footer > .container {
	margin-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
}


.footer-link a {
	text-decoration: none !important;
	color: #F8C311;
}

.footer-link a:hover {
	color: #ff982e;
}
