#blackBoardCon,
#whiteBoardCon {
    height: 100%;
    position:static;
}

#blackBoard,
#whiteBoard {
    height: 550px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc00c+0,ff9c3a+98 */
background: #fcc00c; /* Old browsers */
background: -moz-linear-gradient(top,  #fcc00c 0%, #ff9c3a 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcc00c 0%,#ff9c3a 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcc00c 0%,#ff9c3a 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc00c', endColorstr='#ff9c3a',GradientType=0 ); /* IE6-9 */
}

#blackBoard {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc00c+0,ff9c3a+98 */
background: #fcc00c; /* Old browsers */
background: -moz-linear-gradient(top,  #fcc00c 0%, #ff9c3a 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcc00c 0%,#ff9c3a 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcc00c 0%,#ff9c3a 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc00c', endColorstr='#ff9c3a',GradientType=0 ); /* IE6-9 */}


#canvas,
#canvas2 {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
}

#imgSaveSuccess, 
#imgSaveFail{
    font-size: 23px;
    line-height: 100%;
    display: inline;
}

#imgSaveFail {
    color: red;
}

#imgSaveSuccess {
    color: green;
}

.bb-slider-div,
.bb-slider-div p,
.bb-slider-div input {
    cursor: pointer;
}

.bb-slider-div {
    font-family: "Lato", sans-serif;
    display: inline-flex;
    color: white;
    background-color: #C66921;
    padding: 2px;
    border-radius: 4px;
}
.bb-slider-div label {
    display: inline;
    margin-bottom: 0px;
}