#blackBoardCon,
#whiteBoardCon {
    height: 100%;
    position:static;
}

#blackBoard,
#whiteBoard {
    height: 550px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc00c+0,ff9c3a+98 */
background: #fcc00c; /* Old browsers */
background: -moz-linear-gradient(top,  #fcc00c 0%, #ff9c3a 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcc00c 0%,#ff9c3a 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcc00c 0%,#ff9c3a 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc00c', endColorstr='#ff9c3a',GradientType=0 ); /* IE6-9 */
}

#blackBoard {
    position:relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc00c+0,ff9c3a+98 */
background: #fcc00c; /* Old browsers */
background: -moz-linear-gradient(top,  #fcc00c 0%, #ff9c3a 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcc00c 0%,#ff9c3a 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcc00c 0%,#ff9c3a 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc00c', endColorstr='#ff9c3a',GradientType=0 ); /* IE6-9 */}


#canvas,
#canvas2 {
    position:absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
}

#imgSaveSuccess, 
#imgSaveFail{
    font-size: 23px;
    line-height: 100%;
    display: inline;
}

#imgSaveFail {
    color: red;
}

#imgSaveSuccess {
    color: green;
}

.bb-slider-div,
.bb-slider-div p,
.bb-slider-div input {
    cursor: pointer;
}

#lWSlider {
    display: inline-block;
    width: 30%;
}

#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px dotted #F8C311;
  border-left: 16px dotted #FAD661;
  border-bottom: 16px dotted #FBE088;
  border-right: 16px dotted #FDEBB0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}