@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<h2>Manage Subjects</h2>
<p>
    <a href="@Url.Action("Tutors", "Admin")" class="btn btn-primary">Tutors</a>
</p>
@foreach (var dpt in bat.logic.Constants.Subjects.Departments)
{
    <p>
        <strong>@dpt.Name</strong>
    </p>
    <ul>
        @foreach (var s in dpt.Subjects)
        {
            <li>
                <a href="@Url.Action("Edit", new {subject = @s})">@s</a>
            </li>
        }
    </ul>
}
