@model bat.logic.ViewModels.Admin.Tutors
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Tutors";
}
@section head {
    <style>
        .table {
            display: table;
            font-size: x-large;
        }
        .table-row 
        { 
            display:table-row; 

        }
        .table-cell 
        { 
            display:table-cell; 

        }
        .no-decoration {
            text-decoration: none;
        }
    </style>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Tutors</h1>
        <div class="table">
            <div class="table-row">
                <div class="table-cell">
                    Tutor
                </div>
                <div class="table-cell">
                    Account Status
                </div>
                <div class="table-cell">
                    Approval Status
                </div>
            </div>
            @foreach (var tutor in Model.tutors)
            {
                <a href="@Url.Action("TeacherProfile", "Admin", new { id =  tutor.ID})" class="table-row">
                    <div class="table-cell">@Model.GetFullAccountName(tutor.ID)</div>
                    @if (tutor.Disabled != true)
                    {
                        <div class="table-cell" style="color:lawngreen">
                            Enabled
                        </div>
                    }else
                    {
                        <div class="table-cell" style="color:red">
                            Disabled
                        </div>
                    }
                    @if (tutor.Approved != true)
                    {
                            <div class="table-cell" style="color:red">
                                Pending...
                            </div>
                    }
                    else
                    {
                        <div class="table-cell" style="color:lawngreen">
                            Approved
                        </div>
                    }
                </a>
            }
        </div>
    </div>
</div>