<button class="btn white" onclick="changeColor('White')">Default</button>
<button class="btn blue" onclick="changeColor('Blue')">Blue</button>
<button class="btn red" onclick="changeColor('Red')">Red</button>
<button class="btn green" onclick="changeColor('Green')">Green</button>

<div id="blackBoard">
    <canvas id="canvas" style="align-content:center"></canvas>
</div>

@Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/assets/js/blackboard.js")
