@model bat.logic.ViewModels.Partials.IPartialWhiteboard
<div class="board-container">
    <script>
        $(function () {
            $("ul.dropdown-menu").on("click", "[data-keepOpenOnClick]", function (e) {
                e.stopPropagation();
            });
        });
        
    </script>

    <div id="board-wrap">
        <div id="loader-container" class="se-pre-con"></div>
        <input id="getChatHistoryPath" type="hidden" value="@Url.HttpRouteUrl("api/chat/gethistory", new { controller = "ChatApi", action = "GetChatHistory" })" />
        <div id="lc"></div>   
    </div><!-- /board-wrap-->

    <!-- Modal -->
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="form-group">
                        <input type="text" class="modal-title form-control" id="previewTitle">
                    </div>
                </div>
                <div class="modal-body">
                    <div id="pdfContainer" style="width:100%;">
                        <div id="previewCanvas"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="uploadCanvas()">Upload Image</button>
                </div>
            </div>
        </div>
    </div>
</div>
