<div class="chatBoxCon">
    <div class="chatHead">
        <input type="text" id="message" />
        <button type="button" id="sendmessage">SEND</button>
    </div>
    <div class="chatBody">
        <ul id="discussion"></ul>
    </div>
</div>

@Scripts.Render("~/assets/js/chatRoom.js")