<button id="defaultBtn" class="btn white">Default</button>
<button id="blueBtn" class="btn blue">Blue</button>
<button id="redBtn" class="btn red">Red</button>
<button id="greenBtn" class="btn green">Green</button>

<div id="blackBoardCon">
    <!--Blackboard function will go here-->
</div>


@Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/assets/js/whiteboard.js")

<script>
    whiteBoard.settings.canvasName = 'canvas';
    whiteBoard.settings.frameName = 'blackBoard';
    whiteBoard.settings.container = 'blackBoardCon';
    whiteBoard.init()
</script>