@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
@section head {
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<h2 class="text-danger">An unexpected error has occurred.</h2>
