@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
@section head {
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<h2 class="text-danger">@ViewBag.Error</h2>
