@model bat.logic.ViewModels.Master
@{
    ViewBag.Title = "Error";
}
@section head {
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<h2 class="text-danger">@ViewBag.Error</h2>
