@{
    Layout = "~/Views/Shared/_LayoutContentOnly.cshtml";
    ViewBag.Title = "About Us";
}

<h2>About Us</h2>

<p>
    Our aim is to provide online top quality tuition at affordable prices, anywhere and at anytime.
</p>
<p>
    We want to enable our users to achieve their goals in a most clear and effective way.
</p>
<p>
    Our user friendly interface offers real time marking and correction of coursework and filesharing.
</p>