@model bat.logic.Models.Homepage.Dashboard
@{
    ViewBag.Title = "Teacher";
}

<h2>Welcome, @Model.account.Email</h2>

<p>Here are your available students:</p>

@foreach (var item in Model.students)
{
    <p>
        <a href="@Url.RouteUrl("meet", new { id = item.ID })">
            @item.Email
        </a>
    </p>
}