@model bat.logic.Models.Homepage.Dashboard
@{
    ViewBag.Title = "Student";
}

<h2>Welcome, @Model.account.Email</h2>

<p>Here are your available teachers:</p>

@foreach (var item in Model.teachers)
{
    <p>
        @item.Email
    </p>
}