@model bat.logic.Models.Homepage.Dashboard
@{
    ViewBag.Title = "Student";
}

<div class="col-sm-12">
    <div class="col-sm-12">
        <h2>Welcome, @Model.account.Fname @Model.account.Lname</h2>
    </div>

    <div class="col-sm-6">
        <h2>Here are your lessons:</h2>
    </div>
    <div class="col-sm-12">
        @foreach (var lesson in Model.lessons)
        {
            <p>
                <a href="@Url.RouteUrl("lessons", new { id = lesson.ID })">
                    @lesson.Description
                </a>
            </p>
        }
    </div>
</div>
